@inject TokenService TokenService
@inject NavigationManager NavigationManager

<h3>Вход</h3>

<EditForm Model="user" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Имя пользователя:</label>
        <InputText @bind-Value="user.Username" />
    </div>
    <div>
        <label>Пароль:</label>
        <InputText @bind-Value="user.Password" type="password" />
    </div>
    <button type="submit">Войти</button>
</EditForm>

@code {
    private User user = new User();

    private async Task HandleLogin()
    {
        var token = TokenService.GenerateToken(user.Username);
        Console.WriteLine($"Токен: {token}");
        // Здесь можно добавить сохранение токена в LocalStorage или Cookies
        NavigationManager.NavigateTo("/");
    }
}
