<AuthorizeView>
    <Authorized>
        <p>Добро пожаловать, @context.User.Identity.Name!</p>
    </Authorized>
    <NotAuthorized>
        <p>Вы не авторизованы. Пожалуйста, войдите в систему.</p>
    </NotAuthorized>
</AuthorizeView>
