@inherits LayoutComponentBase

<CascadingAuthenticationState>
    <div class="main-layout">
        <header>
            <h1>Blazor JWT App</h1>
            <NavMenu />
        </header>
        <main>
            @Body
        </main>
    </div>
</CascadingAuthenticationState>
