<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorJwtAuthApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink href="/login" Match="NavLinkMatch.All">Вход</NavLink>
            <NavLink href="/profile">Профиль</NavLink>
        </div>
    </nav>
</div>

